body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--whtie-color);
    color: var(--text-color);
    padding-top: 80px;
}

:root {
    --blue-color: #2196F3;
    --text-color: #757575;
    --black-color: #212121;
    --whtie-color: #FFFFFF;
    --backgroup-hero: rgba(47, 48, 58, 0.4);
    --background-color: #C4C4C4;
    --background-icons: #F5F4FA;
    --icon-color: #AFB1B8;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

.nodisplay {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

textarea {
    resize: none;
    padding: 12px 16px;
}


/* Лого  */


/* Site Nav Link  */

.header {
    border-bottom: 1px solid #ececec;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--whtie-color);
    z-index: 99999;
    height: 80px;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}


/* Nav Phone Email  */

.auth-nav {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.auth-nav__item:not(:last-child) {
    margin-right: 50px;
}

.auth-nav__item:last-child {
    margin-right: 0;
}

.auth-nav__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover,
.auth-nav__link:focus {
    color: var(--blue-color);
}

.auth-nav__icon {
    fill: currentColor;
    margin-right: 10px;
}


/* Hero */

.section-hero {
    background: #2F303A;
    display: block;
    padding: 200px 0;
}

.hero-title {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: var(--whtie-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.section-hero {
    padding: 200px 0px;
    background-color: #2f303a;
    background-image: linear-gradient( var(--backgroup-hero), var(--backgroup-hero)), url(../images/hero-title.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 1600px;
}


/* Feature */

.feature {
    display: flex;
}

.feature__subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--black-color);
}

.feature__text {
    font-size: 14px;
    line-height: 1.7;
}

.feature__item {
    width: 270px;
}

.feature__item:not(:last-child) {
    margin-right: 30px;
}

.feature__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--background-icons);
    margin-bottom: 30px;
    border-radius: 4px;
}


/* Activities */

.activities {
    display: flex;
    padding-top: 0;
}

.activities__title {
    margin-bottom: 50px;
}

.activities__list {
    display: flex;
}

.activities__item {
    position: relative;
}

.activities__item:not(:last-child) {
    margin-right: 30px;
}

.activities__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--black-color);
}

.activities__text {
    position: absolute;
    padding: 27px 0;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--whtie-color);
}


/* Comand */

.comand {
    background: #F5F4FA;
}

.comand__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--black-color);
}

.comand__list {
    display: flex;
}

.comand__item {
    background: #FFFFFF;
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.comand__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--black-color);
    margin-bottom: 10px;
    text-align: center;
}

.comand__text {
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    color: var(--text-color);
    margin-bottom: 16px;
}

.comand__soc {
    display: flex;
    align-items: baseline;
}

.comand__img,
.comand__text {
    margin-bottom: 30px;
}

.comand__item:not(:last-child) {
    margin-right: 30px;
}


/* Clients */

.client__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-color);
    margin-bottom: 50px;
}

.client__list {
    display: flex;
    justify-content: center;
}

.client__item {
    width: 170px;
    height: 92px;
}

.client__item:not(:last-child) {
    margin-right: 30px;
}

.client__link {
    color: var(--icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
    color: var(--blue-color);
    border-color: var(--blue-color);
}

.client__icon {
    fill: currentColor;
}


/* Address */

.footer {
    background: #2F303A;
    padding: 60px 0;
}

.footer-section {
    display: flex;
    align-items: baseline;
}

.footer__address {
    width: 231px;
    margin: 0 0;
}

.address {
    font-style: normal;
    text-decoration: none;
}

.address__list {
    width: 231px;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.link-white {
    color: var(--whtie-color);
    font-size: 14px;
    line-height: 1.7;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-grey {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-white:hover,
.link-white:focus,
.link-grey:hover,
.link-grey:focus {
    color: var(--blue-color);
}


/* Join */

.join {
    margin-left: 70px;
    margin-right: 93px;
    width: 206px;
    height: 80px;
}

.join__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--whtie-color);
    margin-bottom: 20px;
}


/* Subscribes */


/* Портфолио */


/* Карточки */

.card__list {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card__item {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px
}

.card__item:nth-child(3n) {
    margin-right: 0;
}

.card__link:hover,
.card__link:focus {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__image {
    position: relative;
    overflow: hidden;
}

.card__up {
    display: block;
    padding: 63px 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(+101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__up {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.card__link:focus .card__up,
.card__link:hover .card__up {
    transform: translateY(0%);
}

.card__descr {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: transparent;
}

.card__chapter {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-color);
    margin-bottom: 4px;
}

.card__text {
    font-size: 16px;
    line-height: 1.9;
    color: var(--text-color);
}


/* Модальное окно */